<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<style>
    body {
        font-family: 'Courier New', monospace;
    }

    table {
        border: 2px solid #0f0; /* Bordure du tableau */
    }

    th, td {
        border: 1px solid #0f0; /* Bordure des cellules */
        padding: 10px;
    }

</style>
<div th:replace="fragments/fragment-header :: header"></div>
<div th:replace="fragments/fragment-film :: film(${film})"></div>
</body>
<div th:replace="fragments/fragment-footer :: footer"></div>
</html>